body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(46, 46, 255);
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: rgb(0, 0, 206);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:before{
    width: 2px;
    height: 0%;
}
button:hover {
    background-color: blue;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li button {
    background-color: rgb(232, 20, 20);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
li button:hover {
    background-color: red;
}